@import "@/styles/breakpoints.scss";

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

main {
  padding-top: 135px;
  min-height: 317px;

  @media (max-width: $laptopM) {
    padding-top: 124px;
  }

  @media (max-width: $tabletL) {
    padding-top: 100px;
  }
}
