// Màu chủ đạo
$color-main: #cd0101;
$color-hover-main: #f03636;

// Các màu khác
$color-white: #ffffff;
$color-black: #333333;
$color-green: #009a31;
$color-blue: #005d9a;
$color-orange: #d96b00;
