@import "@/styles/variables.scss";

.form-footer {
  position: sticky;
  bottom: -15px;
  background-color: $color-white;
  padding: 16px 0;
}

.ant-upload-wrapper {
  width: 100%;

  .ant-upload {
    width: 100%;
  }
}

.form-item-container {
  margin-bottom: 12px;
  padding: 16px;
  border-radius: 8px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);

  &-title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}
