@import "@/styles/variables.scss";
@import "@/styles/breakpoints.scss";

.wrapper-unit-price-page {
  padding: 32px 0;

  @media (max-width: $tabletL) {
    padding: 24px 0;
  }

  @media (max-width: $mobileL) {
    padding: 16px 0;
  }

  &-breadcrumb {
    margin-bottom: 16px;

    @media (max-width: $tabletL) {
      margin-bottom: 12px;
    }

    @media (max-width: $mobileL) {
      margin-bottom: 8px;
    }
  }

  &-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: calc(100vh - 430px);

    @media (max-width: $tabletL) {
      gap: 8px;
    }

    .title-unit-price {
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;

      @media (max-width: $tabletL) {
        font-size: 1.8rem;
      }

      @media (max-width: $mobileL) {
        font-size: 1.6rem;
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 6px;
    padding: 6px 8px;

    @media (max-width: $tabletL) {
      gap: 8px;
    }

    .title-list {
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
      border-bottom: 2px solid black;

      @media (max-width: $tabletL) {
        font-size: 1.8rem;
      }

      @media (max-width: $mobileL) {
        font-size: 1.6rem;
      }
    }

    .content-list {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .item-list {
        text-align: justify;
        border-bottom: 1px solid rgba(5, 5, 5, 0.06);
        padding: 8px 0;

        @media (max-width: $tabletL) {
          padding: 4px 0;
        }

        &:last-child {
          border-bottom: none;
        }

        a {
          color: black;
          transition: color 0.3ms ease;

          &:hover,
          &:active,
          &:focus {
            color: rgba($color: $color-black, $alpha: 0.9);
          }
        }

        strong {
          font-size: 1.6rem;
          text-transform: uppercase;
          display: -webkit-box; /* Dùng cho Webkit-based browsers */
          -webkit-line-clamp: 1; /* Giới hạn số dòng */
          line-clamp: 1;
          -webkit-box-orient: vertical; /* Đặt kiểu hiển thị cho các dòng */
          overflow: hidden; /* Ẩn phần nội dung vượt quá */
          text-overflow: ellipsis; /* Hiển thị dấu ba chấm */

          @media (max-width: $tabletL) {
            font-size: 1.4rem;
          }
        }

        p {
          font-size: 1.4rem;
          line-height: calc(1.4rem * 1.5); /* Tính line-height cho 1.4rem */
          height: calc(1.4rem * 1.5 * 2); /* Tính height cho 2 dòng */
          display: -webkit-box; /* Dùng cho Webkit-based browsers */
          -webkit-line-clamp: 2; /* Giới hạn số dòng */
          line-clamp: 2;
          -webkit-box-orient: vertical; /* Đặt kiểu hiển thị cho các dòng */
          overflow: hidden; /* Ẩn phần nội dung vượt quá */
          text-overflow: ellipsis; /* Hiển thị dấu ba chấm */

          @media (max-width: $tabletL) {
            font-size: 1.4rem;
          }
        }

        &.active-item-list {
          strong,
          p {
            color: $color-main;
          }
        }
      }
    }
  }
}
