.head-admin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);

  &--collapsed {
    justify-content: center;
    .toggle-button {
      margin-left: 0 !important;
    }
  }

  .admin-info {
    flex: 8;

    .avatar {
      margin-left: 12px;
    }

    .admin-name {
      margin-left: 10px;
      font-size: 1.6rem;
      font-weight: 600;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }

  .toggle-button {
    flex: 1;
    margin-left: auto;
  }
}
